# LocalStack
LOCALSTACK_IMAGE=localstack/localstack:latest
AWS_REGION=us-west-2
LOCALSTACK_PORT=4566

# Postgres
POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_DB=realestate
POSTGRES_USER=realestate
POSTGRES_PASSWORD=realestate
POSTGRES_PORT=5432

# App resources (LocalStack)
RAW_BUCKET=calgary-raw-bucket
VAULT_BUCKET=calgary-vault-bucket
RAW_EVENTS_QUEUE=calgary-raw-events-queue
